@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

.grid-container{
    /* height: 200px;
    width: 200px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: aqua;
    padding: 10px;
}

.grid-item{
    background-color: deepskyblue;
    border: 2px blueviolet solid;
    padding: 20px;
    font-size: 30px;
    color: cornsilk;
    text-align: center;
    font-family: 'Long Cang', cursive;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(244, 0, 252);
}

